<div id="<%= dom_id orden %>">
  <p>
    <strong>Fecha examen:</strong>
    <%= orden.fecha_examen %>
  </p>

  <p>
    <strong>Paciente:</strong>
    <%= orden.paciente_id %>
  </p>

  <p>
    <strong>Laboratory worker:</strong>
    <%= orden.laboratory_worker_id %>
  </p>

</div>
