<div id="<%= dom_id orden %>">
  <p>
    <strong>Fecha examen:</strong>
    <%= orden.fecha_examen %>
  </p>

  <p>
    <strong>Paciente:</strong>
    <%= orden.paciente.nombre_paciente + " " + orden.paciente.apellido_paciente %>
  </p>

  <p>
    <strong>Laboratorista:</strong>
    <%= orden.laboratory_worker.empleado.nombre_empleado + " " + orden.laboratory_worker.empleado.apellido_empleado%>
  </p>

</div>
