<% content_for :content do %>
  <h1>Agregar orden</h1>

<%= render "form", orden: @orden %>

<br>

<div>
  <%#= link_to "Cancelar", ordens_path, :class => "btn btn-outline-danger"%>
</div>
<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>