<div id="<%= dom_id value_reference %>">
  <p>
    <strong>Valor de referencia:</strong>
    <%= value_reference.value_reference %>
  </p>

  <p>
    <strong>Parametro:</strong>
    <%= value_reference.parametro.nombre_parametro %>
  </p>

</div>
