<div id="<%= dom_id value_reference %>">
  <p>
    <strong>Value reference:</strong>
    <%= value_reference.value_reference %>
  </p>

  <p>
    <strong>Parametro:</strong>
    <%= value_reference.parametro_id %>
  </p>

</div>
