<h1>Editing value reference</h1>

<%= render "form", value_reference: @value_reference %>

<br>

<div>
  <%= link_to "Show this value reference", @value_reference %> |
  <%= link_to "Back to value references", value_references_path %>
</div>
