<% content_for :content do %>
  <h1>Agregar valor de referencia</h1>

<%= render "form", value_reference: @value_reference %>

<br>

<div>
  <%#= link_to "Cancelar", resultados_path, :class => "btn btn-outline-danger"%>
</div>
<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>
