<h1>Editing unidad medida</h1>

<%= render "form", unidad_medida: @unidad_medida %>

<br>

<div>
  <%= link_to "Show this unidad medida", @unidad_medida %> |
  <%= link_to "Back to unidad medidas", unidad_medidas_path %>
</div>
