<p style="color: green"><%= notice %></p>

<h1>Unidad medidas</h1>

<div id="unidad_medidas">
  <% @unidad_medidas.each do |unidad_medida| %>
    <%= render unidad_medida %>
    <p>
      <%= link_to "Show this unidad medida", unidad_medida %>
    </p>
  <% end %>
</div>

<%= link_to "New unidad medida", new_unidad_medida_path %>
