<% content_for :content do %>
  <h1>Agregar unidad de medida</h1>

<%= render "form", unidad_medida: @unidad_medida %>

<br>

<div>
  <%#= link_to "Cancelar", resultados_path, :class => "btn btn-outline-danger"%>
</div>
<% end %>
<%= render template: "layouts/base" %>

