<% content_for :content do %>
  <h1>Editar muestra</h1>

<%= render "form", muestra: @muestra %>

<br>

<!--<div>-->
<!--  <%#= link_to "Ver", @muestra %> |-->
  <%#= link_to "Regresar", muestras_path %>
<!--</div>-->
<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>

