<% content_for :content do %>
  <h1>Editar municipio</h1>

<%= render "form", municipio: @municipio %>

<br>

<!--<div>-->
<!--  <%#= link_to "Ver", @municipio %> |-->
  <%#= link_to "Regresar", municipios_path %>
<!--</div>-->
<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>
