<% content_for :content do %>
  <h1>Agregar municipio</h1>

<%= render "form", municipio: @municipio %>

<br>

<div>
  <%#= link_to "Cancelar", municipios_path, :class => "btn btn-outline-danger"%>
</div>
<% end %>
<%= render template: "layouts/base" %>