<div id="<%= dom_id orden_tipo_examen %>">
  <p>
    <strong>Tipo examen:</strong>
    <%= orden_tipo_examen.tipo_examen_id %>
  </p>

  <p>
    <strong>Orden:</strong>
    <%= orden_tipo_examen.orden_id %>
  </p>

</div>
