<h1>Editing orden tipo examen</h1>

<%= render "form", orden_tipo_examen: @orden_tipo_examen %>

<br>

<div>
  <%= link_to "Show this orden tipo examen", @orden_tipo_examen %> |
  <%= link_to "Back to orden tipo examen", orden_tipo_examen_index_path %>
</div>
