<p style="color: green"><%= notice %></p>

<h1>Orden tipo examen</h1>

<div id="orden_tipo_examen">
  <% @orden_tipo_examen.each do |orden_tipo_examen| %>
    <%= render orden_tipo_examen %>
    <p>
      <%= link_to "Show this orden tipo examen", orden_tipo_examen %>
    </p>
  <% end %>
</div>

<%= link_to "New orden tipo examen", new_orden_tipo_examen_path %>
