<div id="<%= dom_id menu %>">
  <p>
    <strong>Nombre:</strong>
    <%= menu.nombre %>
  </p>

  <p>
    <strong>Menú:</strong>
    <%if menu.menu_id == nil %>
      <%= menu.menu_id %>
    <%else%>
      <%= menu.menu.nombre %>
    <%end%>
    
  </p>

</div>
