<div id="<%= dom_id area_type_exam %>">
  <p>
    <strong>Área:</strong>
    <%= area_type_exam.area.nombre_area %>
  </p>

  <p>
    <strong>Tipo de examen:</strong>
    <%= area_type_exam.type_exam.name_type_examn %>
  </p>

</div>
