<div id="<%= dom_id area_type_exam %>">
  <p>
    <strong>Area:</strong>
    <%= area_type_exam.area_id %>
  </p>

  <p>
    <strong>Type exam:</strong>
    <%= area_type_exam.type_exam_id %>
  </p>

</div>
