<h1>Editing area type exam</h1>

<%= render "form", area_type_exam: @area_type_exam %>

<br>

<div>
  <%= link_to "Show this area type exam", @area_type_exam %> |
  <%= link_to "Back to area type exams", area_type_exams_path %>
</div>
