<% content_for :content do %>
  <h1>Agregar área tipo examen</h1>

<%= render "form", area_type_exam: @area_type_exam %>

<br>

<div>
  <%#= link_to "Cancelar", laboratory_workers_path, :class => "btn btn-outline-danger"%>
</div>
<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>