<div id="<%= dom_id permiso %>">
  <p>
    <strong>Nombre permiso:</strong>
    <%= permiso.nombre_permiso %>
  </p>

  <p>
    <strong>Ruta:</strong>
    <%= permiso.ruta %>
  </p>

  <p>
    <strong>Crud:</strong>
    <%= permiso.crud %>
  </p>


</div>
