<div id="<%= dom_id permiso %>">
  <p>
    <strong>Nombre permiso:</strong>
    <%= permiso.nombre_permiso %>
  </p>

  <p>
    <strong>ruta:</strong>
    <%= permiso.ruta %>
  </p>

  <p>
    <strong>crud:</strong>
    <%= permiso.crud %>
  </p>


</div>
