<% content_for :content do %>
  <h1>Nuevo permiso</h1>

  <%= render "form", permiso: @permiso %>

  <br>

  <div>
    <%#= link_to "Back to permisos", permisos_path %>
  </div>
<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>