<div id="<%= dom_id area_tipo_examen %>">
  <p>
    <strong>Area:</strong>
    <%= area_tipo_examen.area_id %>
  </p>

  <p>
    <strong>Tipo examen:</strong>
    <%= area_tipo_examen.tipo_examen_id %>
  </p>

</div>
