<h1>Editing area tipo examen</h1>

<%= render "form", area_tipo_examen: @area_tipo_examen %>

<br>

<div>
  <%= link_to "Show this area tipo examen", @area_tipo_examen %> |
  <%= link_to "Back to area tipo examen", area_tipo_examen_index_path %>
</div>
