<p style="color: green"><%= notice %></p>

<h1>Area tipo examen</h1>

<div id="area_tipo_examen">
  <% @area_tipo_examen.each do |area_tipo_examan| %>
    <%= render area_tipo_examan %>
    <p>
      <%= link_to "Show this area tipo examen", area_tipo_examan %>
    </p>
  <% end %>
</div>

<%= link_to "New area tipo examen", new_area_tipo_examan_path %>
