<% content_for :content do %>
  <h1>Editar paciente</h1>

<%= render "form", paciente: @paciente %>

<br>

<!--<div>-->
<!--  <%#= link_to "Ver", @paciente %> |-->
  <%#= link_to "Regresar", ordens_path %>
<!--</div>-->
<% end %>
<%= render template: "layouts/base" %>