<% content_for :content do %>
  <h1>Agregar paciente</h1>

<%= render "form", paciente: @paciente %>

<br>

<div>
  <%#= link_to "Cancelar", pacientes_path, :class => "btn btn-outline-danger"%>
</div>
<% end %>

<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>