<h1>Editing tipo examen</h1>

<%= render "form", tipo_examen: @tipo_examen %>

<br>

<div>
  <%= link_to "Show this tipo examen", @tipo_examen %> |
  <%= link_to "Back to tipo examen", tipo_examen_index_path %>
</div>
