<p style="color: green"><%= notice %></p>

<h1>Tipo examen</h1>

<div id="tipo_examen">
  <% @tipo_examen.each do |tipo_examen| %>
    <%= render tipo_examen %>
    <p>
      <%= link_to "Show this tipo examen", tipo_examen %>
    </p>
  <% end %>
</div>

<%= link_to "New tipo examen", new_tipo_examen_path %>
