<div id="<%= dom_id departamento %>">
  <p>
    <strong>Nombre departamento:</strong>
    <%= departamento.nombre_departamento %>
  </p>

  <p>
    <strong>País:</strong>
    <%= departamento.country.nombre_country %>
  </p>

</div>
