<div id="<%= dom_id departamento %>">
  <p>
    <strong>Nombre departamento:</strong>
    <%= departamento.nombre_departamento %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= departamento.country_id %>
  </p>

</div>
