<div id="<%= dom_id departamento %>">
  <p>
    <strong>Nombre departamento:</strong>
    <%= departamento.nombre_departamento %>
  </p>

  <p>
    <strong>Pais:</strong>
    <%= departamento.pais_id %>
  </p>

</div>
