<% content_for :content do %>
  <h1>Editar departamento</h1>

<%= render "form", departamento: @departamento %>

<br>

<!--<div>-->
<!--  <%#= link_to "Ver", @departamento %> |-->
  <%#= link_to "Regresar", departamentos_path %>
<!--</div>-->
<% end %>
<%= render template: "layouts/base" %>
