<% content_for :content do %>
  <h1>Agregar departamento</h1>

<%= render "form", departamento: @departamento %>

<br>

<div>
  <%#= link_to "Cancelar", departamentos_path, :class => "btn btn-outline-danger"%>
</div>
<% end %>
<%= render template: "layouts/base" %>
