<% content_for :content do %>
  <h1>Editar parametro</h1>

<%= render "form", parametro: @parametro %>

<br>

<!--<div>-->
<!--  <%#= link_to "Ver", @paciente %> |-->
  <%#= link_to "Regresar", ordens_path %>
<!--</div>-->
<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>