<% content_for :content do %>
  <h1>Agregar parametro</h1>

<%= render "form", parametro: @parametro %>

<br>

<div>
  <%#= link_to "Cancelar", parametros_path, :class => "btn btn-outline-danger"%>
</div>
<% end %>
<%= render template: "layouts/base" %>