<div id="<%= dom_id laboratory_worker %>">
  <p>
    <strong>Num junta vigilancia:</strong>
    <%= laboratory_worker.num_junta_vigilancia %>
  </p>

  <p>
    <strong>Laboratorio:</strong>
    <%= laboratory_worker.laboratorio_id %>
  </p>

  <p>
    <strong>Empleado:</strong>
    <%= laboratory_worker.empleado_id %>
  </p>

</div>
