<h1>Editing laboratory worker</h1>

<%= render "form", laboratory_worker: @laboratory_worker %>

<br>

<div>
  <%= link_to "Show this laboratory worker", @laboratory_worker %> |
  <%= link_to "Back to laboratory workers", laboratory_workers_path %>
</div>
