<% content_for :content do %>
  <h1>Editar laboratorista</h1>

<%= render "form", laboratory_worker: @laboratory_worker %>

<br>

<!--<div>-->
<!--  <%#= link_to "Ver", @laboratorio %> |-->
  <%#= link_to "Regresar", laboratorios_path %>
<!--</div>-->
<% end %>
<%= render template: "layouts/base" %>
