<% content_for :content do %>
  <h1>Agregar laboratorista</h1>

<%= render "form", laboratory_worker: @laboratory_worker %>

<br>

<div>
  <%#= link_to "Cancelar", laboratory_workers_path, :class => "btn btn-outline-danger"%>
</div>
<% end %>
<%= render template: "layouts/base" %>