<% content_for :content do %>
  <h1>Editar acceso</h1>

<%= render "form", acceso: @acceso %>

<br>

<!--<div>-->
<!--  <%#= link_to "Ver", @laboratorio %> |-->
  <%#= link_to "Regresar", laboratorios_path %>
<!--</div>-->
<% end %>
<%= render template: "layouts/base" %>
