<div id="<%= dom_id menu_permiso %>">
  <p>
    <strong>Menú:</strong>
    <%= menu_permiso.menu.nombre %>
  </p>

  <p>
    <strong>Permiso:</strong>
    <%= menu_permiso.permiso.nombre_permiso %>
  </p>

</div>
