<h1>Editing menu permiso</h1>

<%= render "form", menu_permiso: @menu_permiso %>

<br>

<div>
  <%= link_to "Show this menu permiso", @menu_permiso %> |
  <%= link_to "Back to menu permisos", menu_permisos_path %>
</div>
