<% content_for :content do %>
  <h1>Agregar menú permiso</h1>

  <%= render "form", menu_permiso: @menu_permiso %>

  <br>

  <div>
    <%#= link_to "Cancelar", menu_permisos_path, :class => "btn btn-outline-danger" %>
  </div>
<% end %>
<%= render template: "layouts/base" %>