<div id="<%= dom_id type_exam_parametro %>">
  <p>
    <strong>Parametro:</strong>
    <%= type_exam_parametro.parametro.nombre_parametro %>
  </p>

  <p>
    <strong>Tipo Examen:</strong>
    <%= type_exam_parametro.type_exam.name_type_examn %>
  </p>

</div>
