<div id="<%= dom_id type_exam_parametro %>">
  <p>
    <strong>Parametro:</strong>
    <%= type_exam_parametro.parametro_id %>
  </p>

  <p>
    <strong>Type exam:</strong>
    <%= type_exam_parametro.type_exam_id %>
  </p>

</div>
