<% content_for :content do %>
  <h1>Agregar tipo examen parametro</h1>

<%= render "form", type_exam_parametro: @type_exam_parametro %>

<br>

<div>
  <%#= link_to "Cancelar", resultados_path, :class => "btn btn-outline-danger"%>
</div>
<% end %>
<%= render template: "layouts/base" %>

