<div id="<%= dom_id laboratorista %>">
  <p>
    <strong>Num junta vigilancia:</strong>
    <%= laboratorista.num_junta_vigilancia %>
  </p>

  <p>
    <strong>Laboratorio:</strong>
    <%= laboratorista.laboratorio_id %>
  </p>

  <p>
    <strong>Empleado:</strong>
    <%= laboratorista.empleado_id %>
  </p>

</div>
