<h1>Editing laboratorista</h1>

<%= render "form", laboratorista: @laboratorista %>

<br>

<div>
  <%= link_to "Show this laboratorista", @laboratorista %> |
  <%= link_to "Back to laboratorista", laboratorista_index_path %>
</div>
