<div id="<%= dom_id valor_referencia %>">
  <p>
    <strong>Valor referencia:</strong>
    <%= valor_referencia.valor_referencia %>
  </p>

  <p>
    <strong>Parametro:</strong>
    <%= valor_referencia.parametro_id %>
  </p>

</div>
