<h1>Editing valor referencia</h1>

<%= render "form", valor_referencium: @valor_referencium %>

<br>

<div>
  <%= link_to "Show this valor referencia", @valor_referencium %> |
  <%= link_to "Back to valor referencia", valor_referencia_index_path %>
</div>
