<% content_for :content do %>
<h1>Editar rol</h1>

<%= render "form", rol: @rol %>

<br>

<div>
<!--  <%#= link_to "Show this rol", @rol %> |-->
  <%#= link_to "Back to rols", rols_path %>
</div>

<% end %>
<%= render template: "layouts/base" %>