
<% content_for :content do %>

<h1>Agregar rol</h1>

<%= render "form", rol: @rol %>

<br>

<div>
  <%#= link_to "Back to rols", rols_path %>
</div>

<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>