<% content_for :content do %>
  <h1>Agregar empleado</h1>

  <%= render "form", empleado: @empleado %>

  <br>

  <div>
    <%#= link_to "Back to empleados", empleados_path %>
  </div>

<% end %>
<%= render template: "layouts/base" %>