<div id="<%= dom_id tipo_examen_parametro %>">
  <p>
    <strong>Parametro:</strong>
    <%= tipo_examen_parametro.parametro_id %>
  </p>

  <p>
    <strong>Tipo examen:</strong>
    <%= tipo_examen_parametro.tipo_examen_id %>
  </p>

</div>
