<h1>Editing tipo examen parametro</h1>

<%= render "form", tipo_examen_parametro: @tipo_examen_parametro %>

<br>

<div>
  <%= link_to "Show this tipo examen parametro", @tipo_examen_parametro %> |
  <%= link_to "Back to tipo examen parametros", tipo_examen_parametros_path %>
</div>
