<% content_for :content do %>
  <h1>Editar tipo de examen</h1>

<%= render "form", type_exam: @type_exam %>

<br>

<!--<div>-->
<!--  <%#= link_to "Ver", @paciente %> |-->
  <%#= link_to "Regresar", ordens_path %>
<!--</div>-->
<% end %>
<%= render template: "layouts/base" %>
