<p style="color: green"><%= notice %></p>

<h1>Pais</h1>

<div id="pais">
  <% @pais.each do |pais| %>
    <%= render pais %>
    <p>
      <%= link_to "Show this pais", pais %>
    </p>
  <% end %>
</div>

<%= link_to "New pais", new_pais_path %>
