<h1>Editing tipo sangre</h1>

<%= render "form", tipo_sangre: @tipo_sangre %>

<br>

<div>
  <%= link_to "Show this tipo sangre", @tipo_sangre %> |
  <%= link_to "Back to tipo sangres", tipo_sangres_path %>
</div>
