<% content_for :content do %>
  <h1>Editar tipo de sangre</h1>

<%= render "form", tipo_sangre: @tipo_sangre %>

<br>

<!--<div>-->
<!--  <%#= link_to "Ver", @paciente %> |-->
  <%#= link_to "Regresar", ordens_path %>
<!--</div>-->
<% end %>
<%= render template: "layouts/base" %>