<% content_for :content do %>
  <h1>Agregar tipo de sangre</h1>

<%= render "form", tipo_sangre: @tipo_sangre %>

<br>

<div>
  <%#= link_to "Cancelar", resultados_path, :class => "btn btn-outline-danger"%>
</div>
<% end %>
<%= render template: "layouts/base" %>
