<h1>Editing rol empleado</h1>

<%= render "form", rol_empleado: @rol_empleado %>

<br>

<div>
  <%= link_to "Show this rol empleado", @rol_empleado %> |
  <%= link_to "Back to rol empleados", rol_empleados_path %>
</div>
