<% content_for :content do %>

  <h1>Agregar rol empleado</h1>

  <%= render "form", rol_empleado: @rol_empleado %>

  <br>

  <div>
    <%#= link_to "Back to rol empleados", rol_empleados_path %>
  </div>

<% end %>
<%= render template: "layouts/base" %>
