<% content_for :content do %>
  <h1>Editar área</h1>

<%= render "form", area: @area %>

<br>

<!--<div>-->
<!--  <%#= link_to "Ver", @area %> |-->
  <%#= link_to "Regresar", areas_path %>
<!--</div>-->
<% end %>
<%= render template: "layouts/base" %>