<% content_for :content do %>
  <h1>Agregar área</h1>

<%= render "form", area: @area %>

<br>

<div>
  <%#= link_to "Cancelar", areas_path, :class => "btn btn-outline-danger"%>
</div>
<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>