<% content_for :content do %>
  <h1>Editar menú rol</h1>

  <%= render "form", menu_rol: @menu_rol %>

  <br>

  <div>
<!--    <%#= link_to "Show this menu rol", @menu_rol %> |-->
    <%#= link_to "Back to menu rols", menu_rols_path %>
  </div>

<% end %>
<%= render template: "layouts/base" %>