<% content_for :content do %>
  <h1>Nuevo menú rol</h1>

  <%= render "form", menu_rol: @menu_rol %>

  <br>

  <div>
    <%#= link_to "Back to menu rols", menu_rols_path %>
  </div>
<% end %>
<%= render template: "layouts/base" %>