<div id="<%= dom_id laboratorio %>">
  <p>
    <strong>Nombre laboratorio:</strong>
    <%= laboratorio.nombre_laboratorio %>
  </p>

  <p>
    <strong>Municipio:</strong>
    <%= laboratorio.municipio_id %>
  </p>

</div>
