<h1>Editing laboratorio</h1>

<%= render "form", laboratorio: @laboratorio %>

<br>

<div>
  <%= link_to "Show this laboratorio", @laboratorio %> |
  <%= link_to "Back to laboratorios", laboratorios_path %>
</div>
