<% content_for :content do %>
<h1>Editar país</h1>

<%= render "form", country: @country %>

<br>

<!--<div>-->
<!--  <%#= link_to "Ver", @country %> |-->
  <%#= link_to "Regresar", countries_path %>
<!--</div>-->
<% end %>
<%= render template: "layouts/base" %>