<% content_for :content do %>
<h1>Agregar país</h1>

<%= render "form", country: @country %>

<br>

<div>
  <%#= link_to "Cancelar", countries_path, :class => "btn btn-outline-danger"%>
</div>
<% end %>
<%= render template: "home/nav" %>
<%= render template: "layouts/base" %>