<div id="<%= dom_id resultado %>">
  <p>
    <strong>Descripcion:</strong>
    <%= resultado.descripcion %>
  </p>

  <p>
    <strong>Parametro:</strong>
    <%= resultado.parametro_id %>
  </p>

  <p>
    <strong>Orden:</strong>
    <%= resultado.orden_id %>
  </p>

</div>
