<h1>Editing resultado</h1>

<%= render "form", resultado: @resultado %>

<br>

<div>
  <%= link_to "Show this resultado", @resultado %> |
  <%= link_to "Back to resultados", resultados_path %>
</div>
