<div id="<%= dom_id orden_type_exam %>">
  <p>
    <strong>Tipo de examen:</strong>
    <%= orden_type_exam.type_exam.name_type_examn %>
  </p>

  <p>
    <strong>Orden:</strong>
    <%= orden_type_exam.orden_id %>
  </p>

</div>
