<div id="<%= dom_id orden_type_exam %>">
  <p>
    <strong>Type exam:</strong>
    <%= orden_type_exam.type_exam_id %>
  </p>

  <p>
    <strong>Orden:</strong>
    <%= orden_type_exam.orden_id %>
  </p>

</div>
