<% content_for :content do %>
  <h1>Editar orden tipo examen</h1>

<%= render "form", orden_type_exam: @orden_type_exam %>

<br>

  <div>
<!--    <%#= link_to "Show this menu permiso", @menu_permiso %> |-->
    <%#= link_to "Back to menu permisos", menu_permisos_path %>
  </div>

<% end %>
<%= render template: "layouts/base" %>
