<h1>Editing orden type exam</h1>

<%= render "form", orden_type_exam: @orden_type_exam %>

<br>

<div>
  <%= link_to "Show this orden type exam", @orden_type_exam %> |
  <%= link_to "Back to orden type exams", orden_type_exams_path %>
</div>
