<% content_for :content do %>
  <h1>Agregar orden tipo examen</h1>

<%= render "form", orden_type_exam: @orden_type_exam %>

<br>

<div>
  <%#= link_to "Cancelar", menu_permisos_path, :class => "btn btn-outline-danger" %>
</div>
<% end %>
<%= render template: "layouts/base" %>