<p style="color: green"><%= notice %></p>

<h1>Caracols</h1>

<div id="caracols">
  <% @caracols.each do |caracol| %>
    <%= render caracol %>
    <p>
      <%= link_to "Show this caracol", caracol %>
    </p>
  <% end %>
</div>

<%= link_to "New caracol", new_caracol_path %>
